@import url(./default-props.css);

footer {
  background-color: var(--cor1);
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}

footer p, footer a {
  color: var(--bgClaro);
}

footer a {
  font-weight: 500;
}
