@import url(./default-props.css);

a {
  text-decoration: none;
}

.header {
  background-color: var(--cor1);
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}

.header-logo img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 6px 2px rgba(30, 30, 60, 0.54);
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header-title {
  font-size: 0.9em;
  color: var(--bgClaro);
  text-shadow: 2px 2px 2px rgba(30, 30, 60, 0.54);
  text-transform: uppercase;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons i {
  font-size: 1.6em;
  margin: 0 5px;
  color:  var(--hovClaro);
}

.social-icons i:hover {
  color:  var(--hovClaro2);
}

.wpp-btn {
  background-color: var(--hovClaro) !important;
  color: var(--cor1) !important;
}

.wpp-btn:hover {
  background-color: var(--hovClaro2) !important;
  color: var(--cor1) !important;
}